* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
}

body > footer {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 4px;

    background: rgb(0,98,175);
    background: linear-gradient(0deg, rgba(0,98,175,1) 0%, rgba(0,98,175,1) 85%, rgba(31,132,212,1) 100%);
}

body > footer button {
    height: 40px;
    background-color: transparent;
    border: none;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

body > footer button:hover {
    background-color: rgb(255 255 255 / 0.1);
    cursor: pointer;
}

footer start > button {
    display: flex;
    align-items: center;
    gap: 4px;
    color: white;
    padding: 0 2em 0 1em;
    background: rgb(67,164,70);
    background: linear-gradient(0deg, rgba(67,164,70,1) 0%, rgba(67,164,70,1) 85%, rgba(32,210,37,1) 100%);
    border-radius: 0 15px 15px 0;
    box-shadow: inset -10px 0px 5px -5px rgba(0,0,0,0.2);
}

footer start > button:hover {
    background: linear-gradient(0deg, rgba(255 255 255 / 0.15) 0%, rgba(255 255 255 / 0.15) 100%), linear-gradient(0deg, rgba(67,164,70,1) 0%, rgba(67,164,70,1) 85%, rgba(32,210,37,1) 100%);
}

footer start > button img {
    width: 38px;
}

footer start > button p {
    font-size: 18px;
    font-style: italic;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

footer start > menu {
    display: none;
    position: absolute;
    bottom: 40px;
    width: 400px;
    height: 600px;
    border-radius: 10px 10px 5px 0;
    overflow: hidden;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
}

footer start > menu.active {
    display: block;
}

footer start > menu header {
    height: 80px;
    background: rgb(31,132,212);
    background: linear-gradient(0deg, rgba(31,132,212,1) 0%, rgba(0,98,175,1) 100%);
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 1em;
}

footer start > menu header div {
    height: 60px;
    width: 60px;
    background-image: url("https://avatars.githubusercontent.com/u/56598338?v=4");
    background-size: cover;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 2px 2px 6px rgba(0 0 0 / 0.5);
}

footer start > menu header p {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    font-size: 22px;
}

footer start > menu main {
    background-color: white;
    height: calc(100% - 140px);
    width: 100%;
    border-left: 4px solid rgb(31,132,212);
    border-right: 4px solid rgb(31,132,212);
}

footer start > menu footer {
    display: block;
    height: 60px;
    background: rgb(0,98,175);
    background: linear-gradient(0deg, rgba(0,98,175,1) 0%, rgba(31,132,212,1) 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
}

footer start > menu footer button {
    display: block;
    aspect-ratio: 1/1;
    height: 30px;
    border: none;
    color: white;
    margin-left: 1em;
    border: 1px solid white;
    border-radius: 5px;
}

footer start > menu footer button:nth-of-type(1) {
    background: rgb(214,148,15);
    background: url(../img/close.png), linear-gradient(315deg, rgb(214, 148, 15) 0%, rgb(255, 173, 90) 75%, rgba(255,255,255,1) 100%);
    background-size: 20px, cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer start > menu footer button:nth-of-type(2) {
    background: rgb(214,66,15);
    background: url(../img/close.png), linear-gradient(315deg, rgba(214,66,15,1) 0%, rgba(255,133,90,1) 75%, rgba(255,255,255,1) 100%); 
    background-size: 20px, cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer start > menu footer p {
    color: white;
}

footer nav > button {
    width: 40px;
    background-size: 28px;
}

footer nav > button:first-child {
    background-image: url(../img/internet-icon.png);
}

footer nav > button:nth-child(2) {
    background-image: url(../img/file-explorer-icon.png);
}

footer info {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: auto;
    padding: 0 16px;
    border-left: 1px solid black;
    background: rgb(15,136,231);
    background: linear-gradient(0deg, rgba(15,136,231,1) 0%, rgba(15,136,231,1) 85%, rgba(105,189,255,1) 100%);
    box-shadow: inset 10px 0px 5px -5px rgba(0,0,0,0.2);
}

footer info time, footer info date {
    height: 20px;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

browser, explorer, pdfViewer, mp4Viewer, welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1100px;
    height: 700px;
    background-color: rgb(41, 41, 41);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
}

browser {
    background-color: #0D1117;
}

pdfViewer {
    height: 800px;
    width: 600px;
}

mp4Viewer {
    height: 400px;
    width: 450px;
}

welcome {
    height: 500px;
    width: 800px;
}

browser > header,
explorer > header,
pdfViewer > header,
mp4Viewer > header,
welcome > header {
    width: 100%;
    height: 40px;
    background: rgb(0,98,175);
    background: linear-gradient(0deg, rgba(0,98,175,1) 0%, rgba(0,98,175,1) 85%, rgba(31,132,212,1) 100%);  
    display: flex;
    align-items: center;
    color: white;
    padding: 6px;
    gap: .5em;
}

browser header img,
explorer header img,
pdfViewer header img,
mp4Viewer header img,
welcome header img {
    height: 24px;
    pointer-events: none;
}

browser header p,
explorer header p,
pdfViewer header p,
mp4Viewer header p,
welcome header p {
    pointer-events: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

browser header button,
explorer header button,
pdfViewer header button,
mp4Viewer header button,
welcome header button {
    display: block;
    aspect-ratio: 1/1;
    height: 100%;
    background: rgb(214,66,15);
    background: url(../img/close.png), linear-gradient(315deg, rgba(214,66,15,1) 0%, rgba(255,133,90,1) 75%, rgba(255,255,255,1) 100%);
    background-size: 16px, cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: white;
    margin-left: auto;
    border: 1px solid white;
    border-radius: 5px;
}

browser header button:hover,
explorer header button:hover,
pdfViewer header button:hover,
mp4Viewer header button:hover,
welcome header button:hover {
    background: linear-gradient(0deg, rgba(255 255 255 / 0.15) 0%, rgba(255 255 255 / 0.15) 100%), url(../img/close.png), linear-gradient(315deg, rgba(214,66,15,1) 0%, rgba(255,133,90,1) 75%, rgba(255,255,255,1) 100%);
    background-size: cover, 16px, cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

browser > main,
explorer > main,
pdfViewer > main,
mp4Viewer > main,
welcome > main {
    height: 100%;
    border-left: 4px solid rgb(0,98,175);
    border-right: 4px solid rgb(0,98,175);
    border-bottom: 4px solid rgb(0,98,175);
    overflow: hidden;
}

browser main {
    height: calc(100% - 40px);
    color: white;
}

browser main viewer {
    display: flex;
    gap: 1em;
    height: 100%;
}

browser main viewer user {
    display: block;
    max-width: 300px;
    height: 100%;
    width: 100%;
    padding: 1em;
}

browser main viewer user img {
    aspect-ratio: 1/1;
    width: 100%;
    border: 1px solid white;
    border-radius: 100%;
    border: 1px solid #30363d;
    box-shadow: 0 0 0 1px rgba(240,246,252,0.1);
}

browser main viewer user p:nth-of-type(1) {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 600;
    color: #c9d1d9;
}

browser main viewer user p:nth-of-type(2) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #8b949e;
}

browser main viewer user p:nth-of-type(3) {
    margin: 1em 0;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    color: #c9d1d9;
}

browser main viewer user a {
    display: block;
    width: 100%;
    text-align: center;
    color: #c9d1d9;
    background-color: #21262d;
    border: 1px solid rgba(240,246,252,0.1);
    border-radius: 6px;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 1em;
    transition: .1s;
}

browser main viewer user a:hover {
    background-color: #30363d;
    border-color: #8b949e;
}

browser main viewer user p:nth-of-type(4) {
    font-size: 14px;
    color: #8b949e;
}

browser main viewer user p:nth-of-type(4) span {
    color: #c9d1d9;
}

browser main viewer repos {
    display: block;
    height: 100%;
    width: 100%;
    padding: 1em;
    overflow-y: auto;
}

browser main viewer repos repo {
    display: block;
    width: 100%;
    padding: 1em 0;
    border-bottom: 1px solid #30363d;
}

browser main viewer repos repo:nth-of-type(1) {
    border-top: 1px solid #30363d;
    margin-top: 1em;
}

browser main viewer repos repo a {
    color: #58a6ff;
    text-decoration: none;
}

browser main viewer repos repo a:hover {
    text-decoration: underline;
}

browser main viewer repos repo p {
    color: #8b949e;
    font-size: 14px;
    max-width: 75%;
}

explorer main {
    background-color: #ffffff;
    display: flex;
    gap: 3em;
    padding: 1em;
    height: calc(100% - 40px)
}

explorer main file {
    height: 60px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

explorer main file:hover {
    background-color: rgb(255 255 255 / 0.25);
    cursor: pointer;
}

explorer main file img {
    aspect-ratio: 1/1;
    width: 50px;
}

explorer main file p {
    font-size: 12px;
}

pdfViewer main {
    height: calc(100% - 40px);
}

pdfViewer main iframe {
    width: 100%;
    height: 100%;
    border: none;
}

mp4Viewer main {
    height: calc(100% - 40px);
}

mp4Viewer main video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

loading {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

loading img {
    width: 400px;
}

loading loader {
    position: relative;
    display: block;
    height: 25px;
    width: 350px;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
}

loading loader > div {
    position: absolute;
    display: flex;
    height: 100%;
    animation: loading 5s infinite linear;
    gap: 4px;
}

@keyframes loading {
    0% {
        left: 0;
    }
    50% {
        left: calc(100% - 37.5px);
    }
    100% {
        left: 0%;
    }
}

loading loader > div > div {
    display: block;
    height: 100%;
    aspect-ratio: .5/1;
    background: rgb(38,61,171);
    background: linear-gradient(0deg, rgba(38,61,171,1) 0%, rgba(94,131,218,1) 70%, rgba(38,61,171,1) 100%);
    border-radius: 2px;
}

welcome main {
    height: calc(100% - 40px);
}

welcome main img {
    height: 100%;
    width: 100%;
}