* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
}

footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 4px;

    background-color: rgb(22, 22, 22);
}

footer button {
    aspect-ratio: 1/1;
    height: 50px;
    background-color: transparent;
    border: none;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

footer button:hover {
    background-color: rgb(255 255 255 / 0.1);
    cursor: pointer;
}

footer > button {
    background-image: url(../img/windows-icon.png);
}

footer nav > button {
    background-size: 36px;
}

footer nav > button:first-child {
    background-image: url(../img/chrome-icon.png);
}

footer nav > button:nth-child(2) {
    background-image: url(../img/file-explorer-icon.png);
}

browser, explorer, pdfViewer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1100px;
    height: 700px;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
}

browser {
    background-color: #0D1117;
}

pdfViewer {
    height: 800px;
    width: 600px;
}

browser > header,
explorer > header,
pdfViewer > header {
    width: 100%;
    height: 40px;
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    color: white;
    padding: 8px;
    gap: .5em;
}

browser header img,
explorer header img,
pdfViewer header img {
    height: 24px;
    pointer-events: none;
}

browser header p,
explorer header p,
pdfViewer header p {
    pointer-events: none;
}

browser header button,
explorer header button,
pdfViewer header button {
    display: block;
    aspect-ratio: 1/1;
    height: 100%;
    background-color: transparent;
    background-image: url(../img/close.png);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: white;
    margin-left: auto;
}

browser header button:hover,
explorer header button:hover,
pdfViewer header button:hover {
    background-color: rgb(255 255 255 / 0.1);
    cursor: pointer;
}

browser main {
    height: calc(100% - 40px);
    color: white;
}

browser main header {
    width: 100%;
    height: 40px;
    background-color: rgb(61, 61, 61);
    display: flex;
    align-items: center;
    padding: 8px;
}

browser main form {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 1em;
}

browser main form input[type=text] {
    padding: 0 1em;
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(92, 92, 92);
    color: white;
    border-radius: 100px;
    pointer-events: none;
}

browser main form input[type=submit] {
    aspect-ratio: 1/1;
    height: 100%;
    background-color: transparent;
    background-image: url(../img/arrow-right.png);
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    pointer-events: none;
}

browser main viewer {
    display: flex;
    gap: 1em;
    height: calc(100% - 40px);
}

browser main viewer user {
    display: block;
    max-width: 300px;
    height: 100%;
    width: 100%;
    padding: 1em;
}

browser main viewer user img {
    aspect-ratio: 1/1;
    width: 100%;
    border: 1px solid white;
    border-radius: 100%;
    border: 1px solid #30363d;
    box-shadow: 0 0 0 1px rgba(240,246,252,0.1);
}

browser main viewer user p:nth-of-type(1) {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 600;
    color: #c9d1d9;
}

browser main viewer user p:nth-of-type(2) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #8b949e;
}

browser main viewer user p:nth-of-type(3) {
    margin: 1em 0;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    color: #c9d1d9;
}

browser main viewer user a {
    display: block;
    width: 100%;
    text-align: center;
    color: #c9d1d9;
    background-color: #21262d;
    border: 1px solid rgba(240,246,252,0.1);
    border-radius: 6px;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 1em;
    transition: .1s;
}

browser main viewer user a:hover {
    background-color: #30363d;
    border-color: #8b949e;
}

browser main viewer user p:nth-of-type(4) {
    font-size: 14px;
    color: #8b949e;
}

browser main viewer user p:nth-of-type(4) span {
    color: #c9d1d9;
}

browser main viewer repos {
    display: block;
    height: 100%;
    width: 100%;
    padding: 1em;
    overflow-y: auto;
}

browser main viewer repos repo {
    display: block;
    width: 100%;
    padding: 1em 0;
    border-bottom: 1px solid #30363d;
}

browser main viewer repos repo:nth-of-type(1) {
    border-top: 1px solid #30363d;
    margin-top: 1em;
}

browser main viewer repos repo a {
    color: #58a6ff;
    text-decoration: none;
}

browser main viewer repos repo a:hover {
    text-decoration: underline;
}

browser main viewer repos repo p {
    color: #8b949e;
    font-size: 14px;
    max-width: 75%;
}

explorer main {
    display: flex;
    gap: .5em;
    padding: 1em;
}

explorer main file {
    height: 110px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

explorer main file:hover {
    background-color: rgb(255 255 255 / 0.25);
    cursor: pointer;
}

explorer main file img {
    aspect-ratio: 1/1;
    width: 75px;
}

explorer main file p {
    font-size: 12px;
}

pdfViewer main {
    height: 100%;
}

pdfViewer main iframe {
    width: 100%;
    height: 100%;
    border: none;
}