* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
}

footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 4px;

    background-color: rgb(22, 22, 22);
}

footer button {
    aspect-ratio: 1/1;
    height: 50px;
    background-color: transparent;
    border: none;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

footer button:hover {
    background-color: rgb(255 255 255 / 0.1);
    cursor: pointer;
}

footer > button {
    background-image: url(../img/windows-icon.png);
}

footer nav > button {
    background-size: 36px;
}

footer nav > button:first-child {
    background-image: url(../img/chrome-icon.png);
}

footer nav > button:nth-child(2) {
    background-image: url(../img/file-explorer-icon.png);
}

browser, explorer, pdfViewer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1100px;
    height: 700px;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
}

pdfViewer {
    height: 800px;
    width: 600px;
}

browser > header,
explorer > header,
pdfViewer > header {
    width: 100%;
    height: 40px;
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    color: white;
    padding: 8px;
    gap: .5em;
}

browser header img,
explorer header img,
pdfViewer header img {
    height: 24px;
}

browser header button,
explorer header button,
pdfViewer header button {
    display: block;
    aspect-ratio: 1/1;
    height: 100%;
    background-color: transparent;
    background-image: url(../img/close.png);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: white;
    margin-left: auto;
}

browser header button:hover,
explorer header button:hover,
pdfViewer header button:hover {
    background-color: rgb(255 255 255 / 0.1);
    cursor: pointer;
}

browser main {
    height: calc(100% - 40px);
}

browser main header {
    width: 100%;
    height: 40px;
    background-color: rgb(61, 61, 61);
    display: flex;
    align-items: center;
    padding: 8px;
}

browser main form {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 1em;
}

browser main form input[type=text] {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(92, 92, 92);
    border-radius: 100px;
}

browser main form input[type=submit] {
    aspect-ratio: 1/1;
    height: 100%;
    background-color: transparent;
    background-image: url(../img/arrow-right.png);
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

browser viewer {
    display: block;
    height: calc(100% - 40px);
    width: 100%;
}

browser viewer iframe {
    height: 100%;
    width: 100%;
    border: none;
}

explorer main {
    display: flex;
    gap: .5em;
    padding: 1em;
}

explorer main file {
    height: 110px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

explorer main file:hover {
    background-color: rgb(255 255 255 / 0.25);
    cursor: pointer;
}

explorer main file img {
    aspect-ratio: 1/1;
    width: 75px;
}

explorer main file p {
    font-size: 12px;
}

pdfViewer main {
    height: 100%;
}

pdfViewer main iframe {
    width: 100%;
    height: 100%;
    border: none;
}